[submodule "packages/foundry-tk/lib/forge-std"]
	path = packages/foundry-tk/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry-tk/lib/solmate"]
	path = packages/foundry-tk/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "packages/foundry-tk/lib/openzeppelin-contracts"]
	path = packages/foundry-tk/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
